@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #020617; /* Slate 950 */
  --foreground: #f8fafc;
}

body {
  background: var(--background);
  color: var(--foreground);
  overflow: hidden; /* Empêche le scroll global pour l'effet portal */
}

/* Effet de reflet sur les panneaux */
.glass-panel {
  @apply bg-opacity-10 backdrop-blur-md border-white/5;
}

/* Scrollbar personnalisée pour les contenus internes */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
